:local(.friendListItem) {
  list-style: none;
  padding: 20px 10px 20px 20px;
  background-color: white;
  border-bottom: 1px solid #E3E3E3;
  display: flex;
}
:local(.maleIcon) {
  background-image: url(../asset/male.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}
:local(.femaleIcon) {
  background-image: url(../asset/female.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

:local(.friendInfos) {
  flex: 1 0 auto;
}

:local(.friendInfos span) {
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
  line-height: 20px;
  margin: 1px 5px;
}

:local(.friendActions) {
  flex: 0 0 90px;
}

:local(.btnAction), :local(.btnAction):active, :local(.btnAction):focus, :local(.btnAction):hover {
  margin-right: 5px;
  color: #5C75B0;
}

button:focus {
  outline: 0 !important;
}
